*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(../img/background/{8CA5D901-05A6-41D2-8B9A-4E0973E896C6}.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 2050px;
    align-items: center;
    margin: 0 auto;
}
header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    width: 100%;
}
.iconBurger{
    display: none;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #3d3b3b;
    padding: 10px 0;
    width: 100%;
    
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    border-radius: 100px;
    background-color: black;

    
}



nav a:hover {
    transform: scale(2.1);
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
     background: #ffffff;
    color: #000000;
    transform: translateY(-1px);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    
}
h2{
    color: white;
    text-align: center;
    font-size: 35px;

}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

}
article{
    
    border-radius: 25px;
    width: 32rem;
    color: #ffffff;
    background-color: #00000067;
    margin: 8px;
    padding: 15px;
    
}
article:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 10px 5px 5px rgb(255, 255, 255);
}
article p{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
article h3{
    font-size: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
article img{
    width: 475px;
    height: auto;
    margin: 3px;
}
article video{
    width: 475px;
    height: auto;
    margin: 3px;
}
.japon{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.japon img{
    margin-top: 50px;
}
.japon p{
    margin-top: 50px;
}
.P2-artc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 43rem;
    color: #ffffff;
    background-color: #00000067;
    margin: 22px;
    padding: 15px;
}
.P2-artc p{
    font-size: 15px;
}
.video-P2{
    border-radius: 25px;
    width: 650px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
    background-size: 100% 100%;
    animation: slider 15s linear infinite;
    width: 100%;
}
footer p{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}
li{
    text-align: center;
    list-style: none;
}
li a{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
li a img{
    height: 20px;

}
li a:hover{
    text-decoration: underline;
    color: cyan;
}
.menuBurger{
    display: none;
}
 
.menuBurger ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menuBurger ul li a{
    color: white;
}



@keyframes slider{
    0%{background-color: #0A0A0A;}
    25%{background-color: #36454f;}
    50%{background-color: #555D50;}
    75%{background-color: #1A1110;}
    100%{background-color: #353839;}
}

@media (max-width: 640px) {

    .iconBurger{
        display: block;
    }

    .menuBurger{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    transform: translate(0px , -250px);
    transition: transform 0.4s ease-in-out;
   
}   

.menuBurger ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menuBurger ul li a{
    color: white;
}

    .iconBurger span{
    display: flex;
    background-color: black;
    width: 50px;
    height: 10px;
    margin: 5px;
}

.iconBurger button{
    background: none;
    border: none;
    cursor: pointer;
}

.iconBurger span:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: white;
}

.menuBurger{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a{
    display: none;
}


}

@media (max-width: 610px) {
    header{
        background-color: transparent;
        
    }

    nav{
        background-color: transparent;
        
    }

    article, article p, article h3, article img, article video{
        width: 100%;
    }

    body{
        background-image: none;
        background-color: #485064;
    }

    
}

    











